# macOS
.DS_Store

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
apps/mobile/.env
apps/mobile/.env.*

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key

# Build output
dist/
build/
